<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    

<body>
    


    <%- include('./partials/nav.ejs') %>


    

  <div class="container">
    <h4>Item Detail</h4>
    <div>
      <h5>item name: <%= item.name %></h5>
      <h5>items price: $<%= item.price %></h5>
    </div>
    <a class="delete btn" data-id="<%= item._id %>" href="" id="deleteBtn">delete</a>
  </div>
  
        <script>
          deleteBtn.onclick = (e)=>{
            e.preventDefault();
            
            const id = deleteBtn.dataset.id
            console.log(id);

            const endpoint = `/items/${id}`;

            fetch(endpoint,{
              method:'DELETE'
            }).then(res => res.json()).then(data => {
              console.log('data', data);
              window.location.href = data.redirect
            })

          }

        </script>

</body>
</html>